<nav class="navbar nav-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" scroll-to="welcome" offset="50"><span>Wargame!</span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
        </ul>
    </div>
</nav>

<div id="map">
    <navigator></navigator>
    <button md-raised-button (click)="saveBoardState()" id="saveButton" class="btn btn-default on-map">Save</button>
    <marker></marker>
</div>
