@import '../../styles/main.less';

#addFriendly {
  margin: 5px 0 0 370px;
  .map-button;
  color: blue;
}

#addNeutral {
  margin: 5px 0 0 410px;
  .map-button;
  color: green;
}

#addHostile {
  margin: 5px 0 0 450px;
  .map-button;
  color: red;
}

#removeMarker {
  margin: 5px 0 0 490px;
  .map-button;
}

#markerType {
  margin: 5px 0 0 550px;
}

.marker-friendly {
  background-color: blue;
  width: inherit;
}

.marker-neutral {
  background-color: green;
  width: inherit;
}

.marker-hostile {
  background-color: red;
  width: inherit;
}
