<md-button-toggle-group [(ngModel)]="inputMode">
    <md-button-toggle value="friendly" id="addFriendly" class="btn on-map" title="Add Friendly">
        <i class="map-icon material-icons">add_location</i>
    </md-button-toggle>
    <md-button-toggle value="neutral" id="addNeutral" class="btn on-map" title="Add Neutral">
        <i class="map-icon material-icons">add_location</i>
    </md-button-toggle>
    <md-button-toggle value="hostile" id="addHostile" class="btn on-map" title="Add Hostile">
        <i class="map-icon material-icons">add_location</i>
    </md-button-toggle>
    <md-button-toggle value="remove" id="removeMarker" class="btn on-map" title="Remove Marker">
        <i class="map-icon material-icons">add_location</i>
    </md-button-toggle>
</md-button-toggle-group>
